<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Colours: ERROR=red, WARN=yellow (closest to orange in ANSI), INFO=green, DEBUG=blue -->
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level){ERROR=red, WARN=yellow, INFO=green, DEBUG=blue} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.poi" level="WARN" />

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>